body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    background-image: url("fondo2.jpg");
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
.next_button {
    background-color: #fae2bf; 
    color: #000; 
    border: none;
    padding: 12px 22px;
    font-size: 18px;
    font-family: 'Indie Flower';
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.next_button:hover {
    background-color: #f5d6a2;
}